---
---

@import "{{ site.theme }}";

/* Increase content width */
.page-content {
  max-width: 1000px;   /* default is 800px */
}

/* Optional: increase line width even more */
.wrapper {
  max-width: 1100px;
}
