@import "minima";

/* Increase page width */
.wrapper {
  max-width: 1100px;   /* default is ~800px */
}

/* Optional: slightly wider text on large screens */
@media (min-width: 1200px) {
  .wrapper {
    max-width: 1300px;
  }
}
